body {
    margin: 0;
    padding: 0;
}

nav a {
  display: inline;
  white-space: nowrap;
    font-family: 'Lato';
}

nav {
    text-decoration: none;
    background-color: rgb(74, 74, 74);
    margin: 0;  padding: 0;
    margin-top: -16px;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    gap: 10px
}

nav li {
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s ease

}

nav a:hover {
 color: rgb(241, 0, 0);
 transform: scale(1.05)
}

nav a:hover::before {
  width: 100%;
}

nav ul {
    display: flex;
    gap: 20px;
    margin-left: -20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding-top:-10px;
}

.PCMSlogo {
    height: 60px;
    padding-left: 5px;
    margin-top: -15px;
  transition: 0.5s ease

}

.NJHSlogo {
    height: 60px;
    padding-left: 10px
}

.PCMSlogo:hover {
  scale: 1.1
}

.logos {
    display: flex;
    align-items: center;
}

.navbar a {
  position: relative;
  top: -5px;
}

nav ul {
    padding-top: -20px;
}

#nav-bar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -60px;
}

.Log-Btn {
  border: 1px solid white;
  width: 150px; height: 45px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  font-family: 'Lato';
  transition: 0.5s ease;
  margin-right: 30px; margin-left: 5px
}

.Log-Btn a {
  margin-left: 50px;
  align-content: center;
  justify-content: center;
}

.Log-Btn a:hover {
  width: 100%;
  color: white;
}

#Log-Btnn:hover {
background-color: rgb(139, 0, 0);
}

.Bg {
     background-position: center;
     color: white;
    padding: -20px;
    height: calc(100vh - 70px);                
  justify-content: center;       
  align-items: center; 
  place-items: center;
    animation: slideShow 20s infinite;  
      height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;        
}

.transparent-glass {
 background-color: rgba(0,0,0, 0.3);
 width: 1470px; height: 700px;
 overflow: hidden ;
 margin-top: 60px;
}

.Welcome {
 align-items: center;
 font-family: sans-serif;
 font-size: 40px;
}

.Welcome h1 {
  text-align: center;
  padding-top: 150px;   
}

.Welcome h2 {
 text-align: center;
 padding-top: 0px;
 font-size: 30px;
 font-weight: 400;
font-family: 'Inter', sans-serif
}

.v-btn, #Hours{
  align-items: center;
  color: white;
    font-size: 22px; font-family: sans-serif; font-weight: 400;
  border-radius:30px; border: none;
  width: 200px; height: 65px;
    gap: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-decoration: none;
 display: inline-flex;
  align-items: center;
  justify-content: center;
    background-color: #01295C;
    cursor: pointer;
    transform: scale(1);
    transition: 
    transform 0.25s ease,
    background-color 0.25s ease;
}

#Volunteer:hover, #Volunteer:focus {
background-color:#001e46;
transform: scale(1.1); transition: 0.3s ease;
}

#Hours:hover, #Hours:focus {
background-color:#001e46;
transform: scale(1.1); transition: 0.3s ease;
}

.WButtons {
  padding-left: 510px;
}

 @keyframes slideShow {
0% { background-image: url(Screenshot\ 2025-12-22\ at\ 16.02.10.png); }
20% { background-image: url(Screenshot\ 2025-12-30\ at\ 12.11.24.png); }
40% { background-image: url(Screenshot\ 2025-12-30\ at\ 12.12.58.png); }
60% { background-image: url(Screenshot\ 2025-12-30\ at\ 12.15.56.png); }
80% { background-image: url(Screenshot\ 2025-12-30\ at\ 12.17.07.png); }
100% { background-image: url(Screenshot\ 2025-12-22\ at\ 16.02.10.png); }
}

.opporspace h2 {
 font-size: 40px; font-family: 'Inter', sans-serif; font-weight: 700;
 color: rgb(176, 0, 0);
 padding-left: 40px
}

.opporspace h3 {
  font-size: 20px; font-family: 'Inter', sans-serif; font-weight: 300;
  color: black;
  padding-left: 40px
}

.opporspace {
  padding-top: 50px;
  line-height: 0.3;
}

.lineun {
  width: 400px; height: 4px;
  background-color: rgb(136, 0, 0);
  border-radius: 12px;
  margin-left: 40px;
}

#opporfull {
margin: 75px 0 0 300px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.opporgrid {
 width: 350px; height: 500px;
 border: 3px black;
 position: relative;
}


.opporgrid img {
  background-size: cover;
  overflow: hidden;
}

.opportext {
    position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  z-index: 2;
  line-height: 0.9;
}

.opporgrid img {
  width: 200px; height:200px ;
  padding-bottom: 100px;
  z-index: 1;
}

.opporgrid {
 width: 350px; height: 500px;
  position: relative;
  overflow: hidden;
}


.opporgrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.opporgrid::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent -30%,
    rgb(0, 0, 0)
  );
  z-index: 1;
}

.opportext {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 2;
}

.opporgrid h2 {
  font-size: 30px; font-family: 'Inter', sans-serif; font-weight: 800;
  line-height: 1.2;
}

.opporgrid h4 {
  font-size: 20px;font-weight: 300; font-family: 'Times New Roman', Times, serif;
  line-height: 1.2
}

.opporgrid h3 {
  font-size: 25px;font-weight: 600; font-family: 'Inter', sans-serif;
  line-height: 0.4;
}

.opporgrid h6 {
  font-size: 10px;font-weight: 300; line-height: 0.1px;  font-family: 'Lato', sans-serif;
  color: rgb(216, 216, 216);
  }

.opporgrid {
  border-radius: 20px;
}

.opporgrid {
  box-sizing: border-box;
  transition: 0.3s ease
}

.opporgrid:hover, .opporgrid:focus {
  box-shadow: 5px black;
  transform: translateY(-15px);
  overflow: hidden;
  box-sizing: border-box;
}

.opporgrid1 {
 width: 350px; height: 700px;
 border: 3px black;
 position: relative;
 margin-top: -50px
}


.opporgrid1 img {
  background-size: cover;
  overflow: hidden;
}

.opportext1 {
    position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  z-index: 2;
  line-height: 0.9;
}

.opporgrid1 img {
  width: 200px; height:200px ;
  padding-bottom: 100px;
  z-index: 1;
}

.opporgrid1 {
 width: 350px; height: 700px;
  position: relative;
  overflow: hidden;
}


.opporgrid1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.opporgrid1::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent -30%,
    rgb(0, 0, 0)
  );
  z-index: 1;
}

.opportext1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 2;
}

.opporgrid1 h2 {
  font-size: 30px; font-family: 'Inter', sans-serif; font-weight: 800;
  line-height: 1.2;
}

.opporgrid1 h4 {
  font-size: 20px;font-weight: 300; font-family: 'Times New Roman', Times, serif;
  line-height: 1.2
}

.opporgrid1 h3 {
  font-size: 25px;font-weight: 600; font-family: 'Inter', sans-serif;
  line-height: 0.4;
}

.opporgrid1 h6 {
  font-size: 10px;font-weight: 300; line-height: 0.1px;  font-family: 'Lato', sans-serif;
  color: rgb(216, 216, 216);
  }

.opporgrid1 {
  border-radius: 20px;
}

.opporgrid1 {
  box-sizing: border-box;
  transition: 0.3s ease
}

.opporgrid1:hover, .opporgrid1:focus {
  box-shadow: 5px black;
  transform: translateY(-15px);
  overflow: hidden;
  box-sizing: border-box;
}

.opporgrid2 {
 width: 350px; height: 500px;
 border: 3px black;
 position: relative;
}


.opporgrid2 img {
  background-size: cover;
  overflow: hidden;
}

.opportext2 {
    position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  z-index: 2;
  line-height: 0.9;
}

.opporgrid2 img {
  width: 200px; height:200px ;
  padding-bottom: 100px;
  z-index: 1;
}

.opporgrid2 {
 width: 350px; height: 500px;
  position: relative;
  overflow: hidden;
}


.opporgrid2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.opporgrid2::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent -30%,
    rgb(0, 0, 0)
  );
  z-index: 1;
}

.opportext2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 2;
}

.opporgrid2 h2 {
  font-size: 30px; font-family: 'Inter', sans-serif; font-weight: 800;
  line-height: 1.2;
}

.opporgrid2 h4 {
  font-size: 20px;font-weight: 300; font-family: 'Times New Roman', Times, serif;
  line-height: 1.2
}

.opporgrid2 h3 {
  font-size: 25px;font-weight: 600; font-family: 'Inter', sans-serif;
  line-height: 0.4;
}

.opporgrid2 h6 {
  font-size: 10px;font-weight: 300; line-height: 0.1px;  font-family: 'Lato', sans-serif;
  color: rgb(216, 216, 216);
  }

.opporgrid2 {
  border-radius: 20px;
}

.opporgrid2 {
  box-sizing: border-box;
  transition: 0.3s ease
}

.opporgrid2:hover, .opporgrid2:focus {
  box-shadow: 5px black;
  transform: translateY(-15px);
  overflow: hidden;
  box-sizing: border-box;
}

.opporgrid3 {
 width: 350px; height: 700px;
 border: 3px black;
 position: relative;
 overflow: hidden;
 margin-top: -150px;
}

.opporgrid3 img {
  background-size: cover;
  overflow: hidden;
}

.opportext3 {
    position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  z-index: 2;
  line-height: 0.9;
}

.opporgrid3 img {
  width: 200px; height:200px ;
  padding-bottom: 100px;
  z-index: 1;
}

.opporgrid3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.opporgrid3::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent -30%,
    rgb(0, 0, 0)
  );
  z-index: 1;
}

.opportext3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 2;
}

.opporgrid3 h2 {
  font-size: 30px; font-family: 'Inter', sans-serif; font-weight: 800;
  line-height: 1.2;
}

.opporgrid3 h4 {
  font-size: 20px;font-weight: 300; font-family: 'Times New Roman', Times, serif;
  line-height: 1.2
}

.opporgrid3 h3 {
  font-size: 25px;font-weight: 600; font-family: 'Inter', sans-serif;
  line-height: 0.4;
}

.opporgrid3 h6 {
  font-size: 10px;font-weight: 300; line-height: 0.1px;  font-family: 'Lato', sans-serif;
  color: rgb(216, 216, 216);
  }

.opporgrid3 {
  border-radius: 20px;
}

.opporgrid3 {
  box-sizing: border-box;
  transition: 0.3s ease
}

.opporgrid3:hover, .opporgrid3:focus {
  box-shadow: 5px black;
  transform: translateY(-15px);
  overflow: hidden;
  box-sizing: border-box;
}

.opporgrid4 {
 width: 350px; height: 500px;
 border: 3px black;
 position: relative;
}


.opporgrid4 img {
  background-size: cover;
  overflow: hidden;
}

.opportext4 {
    position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  z-index: 2;
  line-height: 0.9;
}

.opporgrid4 img {
  width: 200px; height:200px ;
  padding-bottom: 100px;
  z-index: 1;
}

.opporgrid4 {
 width: 350px; height: 500px;
  position: relative;
  overflow: hidden;
}


.opporgrid4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.opporgrid4::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent -30%,
    rgb(0, 0, 0)
  );
  z-index: 1;
}

.opportext4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 2;
}

.opporgrid4 h2 {
  font-size: 30px; font-family: 'Inter', sans-serif; font-weight: 800;
  line-height: 1.2;
}

.opporgrid4 h4 {
  font-size: 20px;font-weight: 300; font-family: 'Times New Roman', Times, serif;
  line-height: 1.2
}

.opporgrid4 h3 {
  font-size: 25px;font-weight: 600; font-family: 'Inter', sans-serif;
  line-height: 0.4;
}

.opporgrid4 h6 {
  font-size: 10px;font-weight: 300; line-height: 0.1px;  font-family: 'Lato', sans-serif;
  color: rgb(216, 216, 216);
  }

.opporgrid4 {
  border-radius: 20px;
}

.opporgrid4 {
  box-sizing: border-box;
  transition: 0.3s ease
}

.opporgrid4:hover, .opporgrid4:focus {
  box-shadow: 5px black;
  transform: translateY(-15px);
  overflow: hidden;
  box-sizing: border-box;
}

.opporgrid5 {
 width: 350px; height: 700px;
 border: 3px black;
 position: relative;
 overflow: hidden;
 margin-top: -150px;
}


.opporgrid5 img {
  background-size: cover;
  overflow: hidden;
}

.opportext5 {
    position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  z-index: 2;
  line-height: 0.9;
}

.opporgrid5 img {
  width: 200px; height:200px ;
  padding-bottom: 100px;
  z-index: 1;
}

.opporgrid5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.opporgrid5::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent -30%,
    rgb(0, 0, 0)
  );
  z-index: 1;
}

.opportext5 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 2;
}

.opporgrid5 h2 {
  font-size: 30px; font-family: 'Inter', sans-serif; font-weight: 800;
  line-height: 1.2;
}

.opporgrid5 h4 {
  font-size: 20px;font-weight: 300; font-family: 'Times New Roman', Times, serif;
  line-height: 1.2
}

.opporgrid5 h3 {
  font-size: 25px;font-weight: 600; font-family: 'Inter', sans-serif;
  line-height: 0.4;
}

.opporgrid5 h6 {
  font-size: 10px;font-weight: 300; line-height: 0.1px;  font-family: 'Lato', sans-serif;
  color: rgb(216, 216, 216);
  }

.opporgrid5 {
  border-radius: 20px;
}

.opporgrid5 {
  box-sizing: border-box;
  transition: 0.3s ease
}

.opporgrid5:hover, .opporgrid5:focus {
  box-shadow: 5px black;
  transform: translateY(-15px);
  overflow: hidden;
  box-sizing: border-box;
}

.Req-box {
  height: 150px; width: 1300px;
  background-color: rgb(106, 105, 105);
  margin: 100px 0 0 75px;
  color: white;
  font-family: 'Inter', sans-serif;
  border-radius: 20px;
  padding-left: 20px; padding-top: 5px;
}

.learn-more {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border-radius: 30px;
  background-color: rgba(141, 0, 0, 0);
  border: 2px solid rgba(255, 255, 255, 0.73);
  color: white;
  text-decoration: none;
  height: 50px; width: 200px;
  font-size: 20px;
    transition: 0.3s ease;
}

.buttonl {
 align-content: center;
 justify-content: end;
   margin: -110px 0 0 1050px;
}

.Req-box h2 {
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 400
}

.Req-box h4 {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.Req-box h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  margin-top: -5px;
  font-size: 10px
}

.learn-more:hover, .learn-more:focus {
  background-color: rgba(131, 0, 0, 0.898);
  cursor: pointer;
    transform: scale(1.07);
}

.EB {
 background-color: black;
 color:white;
 width: 1470px;
 height: 640px;
}

.Band {
  display: inline-flex;
  border: 1px solid white;
  border-radius: 20px;
  width: 200px; height: 50px;
  margin-left: 350px;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.Band a {
  text-decoration: none;
  color:white; font-family: 'Lato', sans-serif; font-size: 15px;
  margin-right: 4px;
  transition: 0.5s ease
}

.Band img {
  width: 50px; height: auto
}

.Band:hover, .Band:focus {
  border: 2px solid rgb(54, 236, 54);
  transform: scale(1.1);
  color: rgb(54, 236, 54);
}

.Band a:hover {
  color: rgb(54, 236, 54)
}

.Gmail {
  display: inline-flex;
  position: relative;
  border: 1px solid white;
  border-radius: 20px;
  width: 200px; height: 50px;
  margin-left: 75px;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
    transform: translateY(-7px);
}

.Gmail a {
  text-decoration: none;
  color:white; font-family: 'Lato', sans-serif; font-size: 15px;
  transition: 0.5s ease;
  margin-left: 10px;
}

.Gmail img {
  width: 39px; height: auto;
}

.Gmail:hover, .Gmail:focus {
  border: 2px solid rgb(226, 159, 44);
  color: rgb(226, 159, 44);
  transform: translateY(-7px) scale(1.1);
}

.Gmail a:hover {
  color: rgb(226, 159, 44);
}

.Phone-No {
  display: inline-flex;
  position: relative;
  border: 1px solid white;
  border-radius: 20px;
  width: 200px; height: 50px;
  margin-left: 75px;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
    transform: translateY(-7px)
}

.Phone-No a {
  text-decoration: none;
  color:white; font-family: 'Lato', sans-serif; font-size: 15px;
  transition: 0.5s ease;
  margin-left: 10px;
}

.Phone-No img {
  width: 39px; height: auto;
}

.Phone-No:hover, .Phone-No:focus {
  border: 2px solid rgb(254, 0, 0);
  transform: translateY(-7px) scale(1.1);
}

.Phone-No a:hover {
  color: rgb(255, 0, 0)
}

.EB h3,h4,h2 {
font-family: 'Lato', sans-serif;
}

.EB h3 {
  padding-top: 20px;
 font-size: 20px; 
 align-self: center;
 justify-self: center;
 font-weight: 300;
}

.EB h2 {
 line-height: 0.1;
 font-size: 25px; 
 align-self: center;
 justify-self: center;
 font-weight: 700; font-style: italic;
}

.EB h4 {
 line-height: 2;
 font-size: 20px; 
 align-self: center;
 justify-self: center;
 font-weight: 500; 
}

.Extra {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 align-items: center;
 justify-content: center;
 margin-left: 270px
}

.Extra a {
  display: block; 
  text-decoration: none;
  color: white;
  font-family: 'Lato'; font-size: 15px;
  line-height: 3;
  transition: 0.3s ease
}

.Extra h5 {
  color: rgb(238, 0, 0);
  font-size: 20px; font-family: 'Lato'; 
  line-height: 0
}

.Extra h6 {
display: block; 
  text-decoration: none;
  color: white;
  font-family: 'Lato'; font-size: 15px;
  line-height: 1.5;
  font-weight: 500
}

.Member-EB {
 padding-left: 100px;
}

.Line-EB {
  width: 1375px; height: 2px;
  background-color: rgb(184, 184, 184);
  margin-left: 40px;
  margin-top: 30px
}

.Final-EB img {
 width: 70px;
 margin-top: 30px; margin-left: 40px
}

.Final-EB h6 {
 font-size: 20px; font-family: 'Lato'; font-weight: 500; 
 margin-left: 1200px; margin-top: -60px
}

.Extra a:hover, .Extra a:focus {
 color: red;
 transform: scale(1.03);
  cursor: pointer;
}