body {
    margin: 0;
    padding: 0;
}

nav a {
  display: inline;
  white-space: nowrap;
    font-family: 'Lato';
}

nav {
    text-decoration: none;
    background-color: rgb(74, 74, 74);
    margin: 0;  padding: 0;
    margin-top: -16px;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    gap: 10px
}

nav li {
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s ease;
    font-family: 'Lato';
}

nav a:hover {
 color: rgb(241, 0, 0);
 transform: scale(1.05)
}

nav a:hover::before {
  width: 100%;
}

nav ul {
    display: flex;
    gap: 20px;
    margin-left: -20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding-top:-10px;
}

.PCMSlogo {
    height: 60px;
    padding-left: 5px;
    margin-top: -15px;
  transition: 0.5s ease

}

.NJHSlogo {
    height: 60px;
    padding-left: 10px
}

.PCMSlogo:hover {
  scale: 1.1
}

.logos {
    display: flex;
    align-items: center;
}

.navbar a {
  position: relative;
  top: -5px;
}

nav ul {
    padding-top: -20px;
}

#nav-bar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -60px;
}

.Log-Btn {
  border: 1px solid white;
  width: 150px; height: 45px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  font-family: 'Lato';
  transition: 0.5s ease;
  margin-right: 30px; margin-left: 5px
}

.Log-Btn a {
  margin-left: 50px;
  align-content: center;
  justify-content: center;
}

.Log-Btn a:hover {
  width: 100%;
  color: white;
}

#Log-Btnn:hover {
background-color: rgb(139, 0, 0);
}

.calendarv {
  margin-top: 150px; margin-left: 150px;
  align-items: center;
  justify-content: center;
  color:black;
  font-family: 'Lato';
  width: 1166px;
}

.date-day {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(4,1fr);
  border-radius: 20px;
  height: 400px
}

.days {
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}

.colorcalv {
  background-color: rgb(167, 0, 0);
  margin-top: -150px;
  height: 700px
}

.calendar-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 100px 0px 100px;
  margin-top: 0px;
  margin-left: -20px;
}

.calendar-top button {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 30px; height: 30px;
  border: none;
  transform: scale(1.5);
  transition: all 0.5s ease;
}

.calendarv h2 {
  color: white;
  font-size: 70px;
  align-self: center;
  justify-self: center;
  white-space: nowrap;
}

.prev {
  margin: 125px 300px 0 0;
}
.next {
  margin: 125px 0 0 300px;
}

.calendar-top button:hover, .calendar-top button:focus {
  background-color: black; color: white;
  transform: scale(1.6);
  border: 1px solid rgb(123, 123, 123);
}

.NotHiddenA, .HiddenM {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(7, 1fr);
  column-gap: -30px;
  row-gap: 30px;
  text-align: center;
  }

.HiddenM {
  margin-top: 20px;
  color: grey;
}

.NotHiddenA {
margin-top: -181px
}


.Firstday {
  grid-column-start: 4;
  border: none
}

.Firstday div:hover {
  border: none
}

.NotHiddenA > div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; 
  box-sizing: border-box;
  transition: all 0.6s ease
}

.NotHiddenA div:hover, .NotHiddenA div:focus {
  background-color: rgb(167, 0, 0);
  color: white;
  border: solid 1px black;
}

.calendar {
  border-radius: 20px
}

.title-vol {
  font-family: 'Inter', sans-serif; padding-left: 20px;
}

.title-vol h2 {
  color:black;
  padding-top: 20px;
  font-size: 40px
}

.title-vol h5 {
  color: black;
  font-size: 20px; font-weight: 300;
  margin-top: 50px;
}

.title-vol h4 {
  color: rgb(167, 0, 0);
  font-size: 30px; font-weight: 700;
  margin-top: -25px;
}

.line-vol {
  height: 4px; width: 700px; 
  background-color: darkred; 
  margin-top: -30px
}

.title-vol h3 {
  font-size: 20px; color: black;
  margin-top: 30px;
}

.cards-vol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 100px; padding-right: 100px;
  padding-top: 50px
}

.volgrid1 {
  display: block;
  height: 500px; width: 350px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 20px;
  background: linear-gradient(to bottom, #004197 , #01295c 80%);
  color: white;
  font-family: 'Inter', sans-serif;
}

.volgrid1 img, .volgrid2 img, .volgrid3 img  {
  height: 200px; width: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.volgrid1 button, .volgrid2 button, .volgrid3 button {
 margin-left: 120px;
 margin-top: 0px;
 border-radius: 100px; font-family: 'Lato', sans-serif; font-size: 20px; font-weight: 600;
 width: 100px; height: 40px;
 background-color: rgb(212, 212, 212);
 color: #000000;
 transition: all 0.5s ease;
 border: 1px solid black;
   box-shadow: 0 6px 30px rgba(0, 0, 0, 0.42);
  overflow: hidden;
  position: relative;
}

.volgrid1 h6, .volgrid2 h6, .volgrid3 h6 {
  margin-top: -20px;
  padding-left: 15px;
}

.volgrid1 h2, .volgrid2 h2, .volgrid3 h2 {
  padding-left: 15px; margin-top: 15px;
  font-weight: 700; font-size: 30px;
}

.volgrid1 h4, .volgrid2 h4, .volgrid3 h4 {
  padding-left: 15px; margin-top: -5px;
  font-size: 20px; font-weight: 400;
}

.volgrid1 h3, .volgrid2 h3, .volgrid3 h3 {
  padding-left: 15px; margin-top: -15px;
  font-size: 23px; font-weight: 500;
}

.volgrid1 p, .volgrid2 p, .volgrid3 p {
  font-size: 10px; padding: 10px 5px 0px 5px;
  text-align: center; margin-top: -10px
}

.volgrid2 {
  display: block;
  height: 500px; width: 350px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 20px;
  background: linear-gradient(to bottom, #004197 , #01295c 80%);
  color: white;
  font-family: 'Inter', sans-serif;
}

.volgrid1 button::before, .volgrid2 button::before, .volgrid3 button::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -120%;
  width: 120%;
  height: 120%;
  background: linear-gradient(200deg,rgba(255, 255, 255, 0.476), transparent);
  transition: left 0.6s ease 
}
.volgrid2 button:hover, .volgrid1 button:hover, .volgrid3 button:hover {
  background: linear-gradient(70deg, rgb(221, 183, 95), rgb(222, 159, 22)); color: #ffffff; font-weight: 600;
  transform: scale(1.1);
  border: 1px solid black;
}

.volgrid2 button:hover::before, .volgrid1 button:hover::before, .volgrid3 button:hover::before {
  left: 120%
}
 
.volgrid3 {
  display: block;
  height: 500px; width: 350px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 20px;
  background: linear-gradient(to bottom, #004197 , #01295c 80%);
  color: white;
  font-family: 'Inter', sans-serif;
}

#back-btn {
  margin: 80px 0 0 20px;
    display: inline-block;
    background-color: #01295c;
    color: white;
    width: 200px; height: 35px;
      border-radius: 20px;
    font-size: 15px;
    font-family: 'Lato'; font-weight: 500;
  border: none;
  transition: 0.5s ease;
}

#back-btn i {
 padding-right: 90px;
}

#back-btn:hover, #back-btn:focus {
  transform: scale(1.1);
}

.sign-cont {
 width: 800px; height: 500px;
 border-collapse: collapse;
}

.sign-cont button {
      display: inline-block;
    background-color: #01295c;
    color: white;
    width: 150px; height: 30px;
      border-radius: 20px;
    font-size: 15px;
    font-family: 'Lato'; font-weight: 500;
  border: none;
  transition: 0.5s ease;
}
