<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script src="{{ url_for('static', filename='logsign.js') }}" defer></script>
    <title>Log In</title>
    <link rel="icon" href="{{ url_for('static', filename='images/cheek-ms-favicon.png') }}">
    <script src="https://accounts.google.com" async defer></script>
  </head>
  <body>
  </body>
</html>
    <link rel="stylesheet" href="{{ url_for('static', filename='logsign.css') }}">
<section id="nav-bar">
          <nav>
        <div class="logos">
          <a href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='images/Screenshot_2025-11-25_at_20.36.02-removebg-preview.png') }}" class="PCMSlogo">
    </a>
    <img src="{{ url_for('static', filename='images/Screenshot_2025-11-25_at_20.31.06-removebg-preview.png') }}" class="NJHSlogo">
            </div>
        <ul class="navs">
         <li><a href="{{ url_for('home') }}">Home</a></li>
         <li><a href="{{ url_for('about_us') }}">About Us</a></li>
         <li><a href="{{ url_for('volunteer') }}">Volunteering</a></li>
         <li><a href="{{ url_for('req') }}">Requirements</a></li>
         <li><a href="{{ url_for('hours') }}">Hours</a></li>
         <li><a href="{{ url_for('pictures') }}">Pictures</a></li>
         <li><div class="Log-Btn" id="Log-Btnn">
        {% if 'user' in session %}
             <a href="{{ url_for('user') }}">{{ session['user'] }}</a>
        {% else %}
             <a href="{{ url_for('login') }}">Log In</a>
{% endif %}
         </li>
         </div>
        </ul>
    </nav>
</section>
 
    <div class="container" id="container">
      <div class="form-container sign-up">
        <form method="post" action="/register">
          {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
                <div class="flash-messages">
            {% for category, message in messages %}
                 <p class="flash {{ category }}">{{ message }}</p>
               {% endfor %}
             </div>
             {% endif %}
          {% endwith %}
          <h1>Create Account</h1>
          <div class="social-icons">
            <a href="" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
          <span>or use your email for registeration</span>
          <input name="name" type="text" placeholder="Name"/>
          <input name="email"type="email" placeholder="Email"/>
          <input name="password"type="password" placeholder="Password"/>
          <input name="con-password"type="password" placeholder="Confirm Password"/>
          <button name="submit" type="submit">Sign Up</button>
          <input type="checkbox" name="rememberme" id="remember">
          <label for="remember">Remember Me</label>
        </form>      
      </div>
      <div class="form-container sign-in">
        <form method="post" action="/login">
          {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
                <div class="flash-messages">
            {% for category, message in messages %}
                 <p class="flash {{ category }}">{{ message }}</p>
               {% endfor %}
             </div>
             {% endif %}
          {% endwith %}
          <h1>Log In</h1>
          <div class="social-icons">
            <a href="" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          </div>
          <span>or use your email password</span>
          <input name="name" type="text" placeholder="Name"/>
          <input name="email" type="email" placeholder="Email" />
          <input name="password" type="password" placeholder="Password" />
          <a href="#">Forgot Your Password?</a>
          <button name="submit" type="submit">Log In</button>         
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1 id="greetingsign"></h1>
            <p>Enter your personal details to use all of the site features. All members, please create an account to access the features you need to access! </p>
            <button class="hidden" id="login">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Hello, Friend!</h1>
            <p>
              Register with your personal details to use all of site features
            </p>
            <button class="hidden" id="register">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    
