<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirements</title>
    <link rel="icon" href="{{ url_for('static', filename='images/cheek-ms-favicon.png') }}">
</head>
<body>
</body>
</html>
<link rel="stylesheet" href="{{ url_for('static', filename='requirements.css') }}">

<section id="nav-bar">
          <nav>
        <div class="logos">
          <a href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='images/Screenshot_2025-11-25_at_20.36.02-removebg-preview.png') }}" class="PCMSlogo">
    </a>
    <img src="{{ url_for('static', filename='images/Screenshot_2025-11-25_at_20.31.06-removebg-preview.png') }}" class="NJHSlogo">
            </div>
        <ul class="navs">
         <li><a href="{{ url_for('home') }}">Home</a></li>
         <li><a href="{{ url_for('about_us') }}">About Us</a></li>
         <li><a href="{{ url_for('volunteer') }}">Volunteering</a></li>
         <li><a href="{{ url_for('req') }}">Requirements</a></li>
         <li><a href="{{ url_for('hours') }}">Hours</a></li>
         <li><a href="{{ url_for('pictures') }}">Pictures</a></li>
         <li><div class="Log-Btn" id="Log-Btnn">
        {% if 'user' in session %}
             <a href="{{ url_for('user') }}">{{ session['user'] }}</a>
        {% else %}
             <a href="{{ url_for('login') }}">Log In</a>
{% endif %}
         </li>
         </div>
        </ul>
    </nav>
</section>

<div class="mem-req">
    <h2>Requirements for Membership</h2>
      <li>Students in 7th grade/8th grade  with a 93% grade average at semester are eligible for membership and will be invited to join by invitation.</li>
      <li>Invitations are sent out in January/February.</li>
      <li>Student must demonstrate the ideals of character, service, citizenship and leadership.</li>
      <li>80% positive teacher responses on evaluation forms must be obtained</li>
      <li>A majority vote by the Faculty Council determines membership.</li>

    <h2>Maintaining Membership</h2>
      <li>Members will remain in good standing with a 90% each nine weeks in all subjects.</li>
      <li>Members must earn 10 volunteer/service hours each semester.</li>
      <li>Members must attend monthly meetings.</li>
      <li>Membership dues are $20 per year and payable within 30 days of the induction ceremony.</li>

    <h2>Faculty</h2>
      <li>Mrs. Deanna Fields,  Chapter Advisor</li>
      <li>Ms. Allison Dellinger,  Co-Advisor</li>
      <li>Dr. Beth Kelly,  Administrator</li>
      <li>Mrs. Chrissy Cates,  Guidance Representative</li>
      <li>Ms. Jamie Joyce,  Representative</li>
      <li>Coach Telschow,  Representative</li>
      <li>Mrs. Stoermer,  Representative</li>

    <h2>Officers</h2>
      <li>Rishon Ishwa Rajesh, President</li>
      <li>Shaza Mohamed, Vice President</li>
      <li>Sophia Johnston, Secretary</li>
      <li>Katarina/Kat Kakashvili, Community Service Chair</li>

    <h2>Officer Requirements</h2>
      <h3>President</h3>
        <li>Preside with Adviser at all meetings.
        <li>Work with Adviser throughout school year.</li>    
        <li>Meet with Adviser prior to meetings to discuss meeting notes.</li>
        <li>Assist or prepare an agenda/meeting notes for each meeting.</li>
        <li>Must be able to check email/daily.</li>
        <li>Must help maintain NJHS website.</li>
        <li>Must make true commitment to attend all meetings and all/most NJHS functions.</li>
        <li>Research on fundraising and community service ideas.</li>
        <li>Attend PTA meetings when needed.</li>
        <li>Must be a leader when it comes to amount of service hours completed.</li>
        <li>As a leader of N.J.H.S. your actions are HIGHLY visible to others.  By planning ahead, listening, organizing, and keeping your commitments you will inspire others to do the same.</li>
  
      <h3>Vice President</h3>
        <li>Preside in the absence of the President.</li>
        <li>Liaison for the Adviser and President - if a member has problems they can go to Vice President for help.</li>
        <li>Work with Adviser and President throughout school year.</li>
        <li>Must be able to check email/daily.</li>
        <li>Must help maintain NJHS website.</li>
        <li>Must make true commitment to attend all meetings and all/most NJHS functions.</li>
        <li>Research on fundraising and community service ideas.</li>
        <li>Attend PTA meetings when needed.</li>
        <li>Must be a leader when it comes to amount of service hours completed.</li>
        <li>As a leader of N.J.H.S. your actions are HIGHLY visible to others.  By planning ahead, listening, organizing, and keeping your commitments you will inspire others to do the same.</li>

      <h3>Secretary</h3>
        <li>Attend events to photograph/record.</li>
        <li>Attend PTA meetings regularly.</li>
        <li>Add additional notes and information to agenda/meeting notes.</li>
        <li>Read meeting notes prior to each meeting.</li>
        <li>Hang meeting reminder notices in appropriate teacher windows.</li>
        <li>Manage/create ideas for NJHS Bulletin Board and T-shirts.</li>
        <li>Must be able to check email/website daily.</li>
        <li>Must make true commitment to attend all meetings and a good amount NJHS functions.</li>
        <li>Must be a leader when it comes to amount of service hours completed.</li>

      <h3>Community Service Chair</h3>
        <li>Work with Adviser on all/most community service projects.</li>
        <li>Research on fundraising and community service ideas.</li>
        <li>Work with other officers and NJHS members with ideas.</li>
        <li>Report to board and NJHS members all aspects of fundraising and service needs.</li>
        <li>Assist Advisor in tracking of Community Service Hours.</li>
        <li>Help where and whenever needed, flexible schedule.</li>
        <li>Must be able to check email/website daily.</li>
        <li>Must make true commitment to attend all meetings and a good amount NJHS functions.</li>
        <li>Must be a leader when it comes to amount of service hours completed.</li>
</div>

<div class="faq-cont">
    <h2>FAQ</h2>
    <details>
        <summary>What is NJHS?</summary>
        <p>NJHS stands for National Junior Honor Society.  It's a service club for students who meet academic requirements.  The National Junior Honor Society (NJHS) elevates a school's commitment to the values of scholarship, service, leadership, character, and citizenship. These five pillars have been associated with membership in the organization since its inception in 1929.  In High School, you can be invited to NHS, the National Honor Society at the end of your sophomore year.</p>
    </details>
    <details>
        <summary>How does NJHS benefit me?</summary>
        <p>NJHS is an organization based on service.  As you prepare for high school and eventually college, participating in service opportunities opens doors for you.  You'll have material to put on college applications, scholarships for school become available, and you will be around like-minded students who are vested in education.</p>
    </details>
    <details>
        <summary>How do I get service hours and how many are required?</summary>
        <p>Members are required to do 10 hours a semester and are challenged to do 15.  You can serve anywhere in the community as long as you are not getting paid.  Mrs. Fields will provide opportunities to serve at all the elementary school special events, booster clubs use our members in concession stands, local churches call when they have community events, Salvation Army bell ringing has been a yearly opportunity, Providence Village invites us to help with their Christmas parade, and we do monthly work days after school. Traditionally, there has not been a shortage of places to serve.</p>
    </details>
    <details>   
        <summary>Who's involved and how do I join?</summary>
        <p>Students who have an overall 93 average in their core classes at semester in 7th and 8th grade are invited to be in NJHS. There is an application and teacher evaluation portion of the process. You are notified if you qualify.</p>
    </details> 
    <details>
        <summary>What's the time commitment?</summary>
        <p>We have member meetings every 4-6 weeks during the school year. Volunteer hours are done as you are able, and officers meet prior to each member meeting. </p>
    </details>
    <details>
        <summary>What do officers do?</summary>
        <p>Our officers include a President, Vice President, Secretary, and Community Service Chairperson.  They meet and help plan events, communicate information to members, collect service hours and report to sponsors, run meetings, take minutes at the meetings, etc.</p>
    </details>
</div>

<section class="EB">
  <h3>With you every step</h3>
  <h2>of the journey</h2>
  <h4>Contact Us Below</h4>
   <div class="button-eb"></div>
    <div class="Band">
  <img src="{{ url_for('static', filename='images/Screenshot_2026-01-27_at_11.48.42-removebg-preview.png') }}" alt="B">
  <a href="https://www.band.us/band/99487941/member">Band App</a>
    </div>

       <div class="Gmail">
  <img src="{{ url_for('static', filename='images/Screenshot_2026-01-27_at_11.51.12-removebg-preview.png') }}" alt="G">
  <a href="mailto:dfields@g.dentonisd.org">Gmail</a>
       </div>

          <div class="Phone-No">
  <img src="{{ url_for('static', filename='images/Screenshot_2026-03-18_at_18.53.58-removebg-preview.png') }}" alt="P">
  <a href="">972-347-7680<br></a>
          </div>
        </div>
    <div class="Extra">
     <div clas="About-EB">
    <h5>About Us</h5>
    <a href="{{ url_for('about_us') }}">About Us</a>
    <a href="{{ url_for('about_us') }}">Copyright</a>
    <a href="https://cheekms.dentonisd.org/">Cheek Middle School</a>
    <a href="https://sites.google.com/g.dentonisd.org/go-panthers/home">Mrs. Fields</a>
    </div>

    <div clas="Member-EB">
    <h5>For Members</h5>
    <a href="{{ url_for('login') }}">Log In</a>
    <a href="{{ url_for('login') }}">Sign Up</a>
    <a href="{{ url_for('hours') }}">Log Hours</a>
    <a href="{{ url_for('volunteer') }}">Upcoming Events</a>
    </div>

    <div clas="Support-EB">
    <h5>Support</h5>
    <h6>Email Linked Above</h6>
    <h6>Band Linked Above</h6>
    <h6>Phone Number Linked Above</h6>
    </div>
  </div>
  
  <div class="Final-EB">
  <div class="Line-EB"></div>
  <img src="{{ url_for('static', filename='images/cheek-ms-favicon.png') }}">
  <h6>© Cheek NJHS - all rights reserved</h6>
  </div>
</section>
