<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer</title> 
    <link rel="icon" href="{{ url_for('static', filename='images/cheek-ms-favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<script src="volunteering.js" defer></script>
<script src="https://kit.fontawesome.com" crossorigin="anonymous"></script>

</head>
<body>
    
</body>
</html>
     <link rel="stylesheet" href="{{ url_for('static', filename='volunteering.css') }}">

<section id="nav-bar">
          <nav>
        <div class="logos">
          <a href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='images/Screenshot_2025-11-25_at_20.36.02-removebg-preview.png') }}" class="PCMSlogo">
    </a>
    <img src="{{ url_for('static', filename='images/Screenshot_2025-11-25_at_20.31.06-removebg-preview.png') }}" class="NJHSlogo">
            </div>
        <ul class="navs">
         <li><a href="{{ url_for('home') }}">Home</a></li>
         <li><a href="{{ url_for('about_us') }}">About Us</a></li>
         <li><a href="{{ url_for('volunteer') }}">Volunteering</a></li>
         <li><a href="{{ url_for('req') }}">Requirements</a></li>
         <li><a href="{{ url_for('hours') }}">Hours</a></li>
         <li><a href="{{ url_for('pictures') }}">Pictures</a></li>
         <li><div class="Log-Btn" id="Log-Btnn">
        {% if 'user' in session %}
             <a href="{{ url_for('user') }}">{{ session['user'] }}</a>
        {% else %}
             <a href="{{ url_for('login') }}">Log In</a>
{% endif %}
         </li>
         </div>
        </ul>
    </nav>
</section>

<div id="page1" class="page">

<div class="pagevol">

<section class="colorcalv">
  <section class="calendarv">
 
 <div class="calendar-top">
    <button class="prev" id="prevID">
     <i class="fa-solid fa-angle-left fa-fade"></i>
    </button>
    <h2>April 2026</h2>
    <button class="next" id="nextID">
     <i class="fa-solid fa-angle-right fa-fade"></i>
    </button>
 </div>

 <div class="calendar">

 <div class="date-day">
   <div class="days">
          <div>Sunday</div><div>Monday</div><div>Tuesday</div><div>Wednesday</div><div>Thursday</div><div>Friday</div><div>Saturday</div>
   </div>
    <div class="HiddenM">
    <div>29</div><div>30</div><div>31</div>
    </div>
    
   <div class="dates">
        <div class="NotHiddenA">
          <div class="Firstday">
        <div>1</div>
         </div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>
        <div>16</div>
        <div>17</div>
        <div>18</div>
        <div>19</div>
        <div>20</div>
        <div>21</div>
        <div>22</div>
        <div>23</div>
        <div>24</div>
        <div>25</div>
        <div>26</div>
        <div>27</div>
        <div>28</div>
        <div>29</div>
        <div>30</div>
        <div>31</div>
       </div>
     </div>
    </div>
  </div>
  </section>
</section>


<section class="vol-sign-sec">
  <div class="title-vol">
    <h2 id="volwelcome">Hey, {{user}}!</h2>
    <h5>Volunteering for the Community</h5>
    <h4>Is Our Duty</h4>
    <div class="line-vol"></div>
      </div>

  <section class="cards-vol">
    {% for event in all_events %}
   <div class="volgrid{{ loop.index }}">
   <img src="{{ url_for('static', filename='images/Screenshot 2026-02-28 at 21.27.29.png') }}" alt="{{ event.name }}" class="imgcard1"> 
    <div class="voltext{{ loop.index }}">
     <h2>{{ event.name }}</h2>
     <h4>On</h4>
     <h3>{{ event.date }}</h3>
     <h6>{{ event.time }}</h6>
     <p>Description: {{ event.description }}</p>
   <form method="post" action="/signup_event/{{ event.id  }}">
    <button>Sign Up</button>
   </form>
    </div>
  </div>
    {% endfor %}
   </section>
  </section>
 </div>
</div>

<div id="page2" class="page" style="display:none;">
    <button onclick="showPage('page1')" id="back-btn"><i class="fa-solid fa-angle-left"></i>Head Back</button>
    <table class="sign-cont" id="sign-cont">
      <thead>
        <th>Date</th>
        <th>Location</th>
        <th>Time</th>
        <th class="big">Available Slots</th>
      </thead>
      <tbody>
        <tc>
          <td class="r1">3/23/26</td>
          <td class="r1">X</td>
          <td class="r1">3:35 - 5:00PM</td>
          <td class="r1" id="in-slot"></td>
          <td class="r1">NJHS Ceremony Set Up</td>
        </tr>

        <tr>
          <td class="r2">Monday</td>
          <td class="r2">Cheek Middle School</td>
          <td class="r2">1.25h</td>
          <td class="r2"><button id="sign-up-n" onclick="incrementslot()">Sign Up Now</button></td>
        </tr>
        </tc>
      </tbody>
    </table>
</div>

<section class="EB">
  <h3>With you every step</h3>
  <h2>of the journey</h2>
  <h4>Contact Us Below</h4>
   <div class="button-eb"></div>
    <div class="Band">
  <img src="{{ url_for('static', filename='images/Screenshot_2026-01-27_at_11.48.42-removebg-preview.png') }}" alt="B">
  <a href="https://www.band.us/band/99487941/member">Band App</a>
    </div>

       <div class="Gmail">
  <img src="{{ url_for('static', filename='images/Screenshot_2026-01-27_at_11.51.12-removebg-preview.png') }}" alt="G">
  <a href="mailto:dfields@g.dentonisd.org">Gmail</a>
       </div>

          <div class="Phone-No">
  <img src="{{ url_for('static', filename='images/Screenshot_2026-03-18_at_18.53.58-removebg-preview.png') }}" alt="P">
  <a href="">972-347-7680<br></a>
          </div>
        </div>
    <div class="Extra">
     <div clas="About-EB">
    <h5>About Us</h5>
    <a href="{{ url_for('about_us') }}">About Us</a>
    <a href="{{ url_for('about_us') }}">Copyright</a>
    <a href="https://cheekms.dentonisd.org/">Cheek Middle School</a>
    <a href="https://sites.google.com/g.dentonisd.org/go-panthers/home">Mrs. Fields</a>
    </div>

    <div clas="Member-EB">
    <h5>For Members</h5>
    <a href="{{ url_for('login') }}">Log In</a>
    <a href="{{ url_for('login') }}">Sign Up</a>
    <a href="{{ url_for('hours') }}">Log Hours</a>
    <a href="{{ url_for('volunteer') }}">Upcoming Events</a>
    </div>

    <div clas="Support-EB">
    <h5>Support</h5>
    <h6>Email Linked Above</h6>
    <h6>Band Linked Above</h6>
    <h6>Phone Number Linked Above</h6>
    </div>
  </div>
  
  <div class="Final-EB">
  <div class="Line-EB"></div>
  <img src="{{ url_for('static', filename='images/cheek-ms-favicon.png') }}">
  <h6>© Cheek NJHS - all rights reserved</h6>
  </div>
</section>
